# Import

In [2]:
import pandas as pd
from sklearn import metrics

# Load train data

In [3]:
train = pd.read_csv('train.csv')
train

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,534,531363010,20,RL,80.0,9605,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2009,WD,Normal,159000
1,803,906203120,20,RL,90.0,14684,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,271900
2,956,916176030,20,RL,NaN,14375,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,1,2009,COD,Abnorml,137500
3,460,528180130,120,RL,48.0,6472,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2009,WD,Normal,248500
4,487,528290030,80,RL,61.0,9734,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2009,WD,Normal,167000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2192,2764,906420020,60,RL,80.0,10041,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,220000
2193,906,909129090,50,RH,70.0,6300,Pave,Pave,Reg,Lvl,...,0,NaN,NaN,NaN,0,7,2009,WD,Abnorml,160000
2194,1097,528292060,60,RL,41.0,12460,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2008,WD,Normal,225000
2195,236,905426060,30,RL,85.0,10625,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,Shed,400,5,2010,COD,Abnorml,83000
2196,1062,528142020,60,RL,74.0,8899,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,250000

# Make model

In [4]:
X = train
y = train['SalePrice']

In [5]:
def idiot_model(X):
    return [100]*len(X)

# Evaluate model

In [6]:
preds = idiot_model(X)

In [7]:
metrics.mean_squared_error(y, preds, squared=False)

199524.73903804124

# Prediction & Submission

In [2]:
## load test data
test = pd.read_csv('test_cleaned.csv')
test

NameError: name 'pd' is not defined

In [9]:
preds_test = idiot_model(test)
preds_test[:10]

[100, 100, 100, 100, 100, 100, 100, 100, 100, 100]

In [10]:
## create dataframe with "Order" and prediction
pred_df = pd.DataFrame({'Order':test['Order'], 'SalePrice':preds_test})
pred_df

     Order  SalePrice
0     2127        100
1      193        100
2     2407        100
3       46        100
4     2478        100
..     ...        ...
728    453        100
729   1352        100
730    197        100
731   2850        100
732   2869        100

[733 rows x 2 columns]

In [11]:
## save to csv file for submission
## index = False
pred_df.to_csv('submission.csv', index=False)